.icon-container {
	border-radius: 50%;
	padding: 8px;
	width: 40px;
	height: 40px;
	transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
	background-color: #1e1e1e;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}
::-webkit-scrollbar-thumb {
	background-color: #555;
}


.my-masonry-grid {
	display: flex;
	margin-left: -30px; /* Adjust based on the gap between columns */
	width: auto;
  }
  
  .my-masonry-grid_column {
	padding-left: 6px; /* Adjust based on the gap between columns */
	background-clip: padding-box;
  }
  

/* Typewriter Container */
.typewriter {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden; 
	border: 1px solid currentColor;
	border-radius: 4px;
	padding: 6px; 
	box-sizing: border-box;
	font-family: monospace; 
	position: relative; 
	background: currentColor;
	width: 100%; 
  }
  
  /* Typewriter Text */
  .typewriter span {
	display: inline-block;
	position: relative;
	overflow: hidden; 
	white-space: nowrap;
	animation: typing 10s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
	color: inherit;
  }
  
  /* Typing Animation */
  @keyframes typing {
	0% {
	  width: 0;
	}
	50% {
	  width: 40%;
	}
	100% {
	  width: 0;
	}
  }
  
